<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="static/template-web.js"></script>
  </head>
  <body>
    <script id="tpl-orders" type="text/html">
      {{if orders && orders.length > 0}}
        {{each orders order index}}
          <div class="weui-cells__title time"> 下单时间： {{order.time}}</div>
          {{each order.goods good i}}
            <div class="weui-cell good">
              <div class="weui-cell__bd">
                <p class="good_title">
                  {{if good.sku && !disabled_link}}
                    <a href="https://jjb.zaoshu.so/good/{{good.sku}}" target="_blank">{{good.name}}</a>
                  {{else}}
                    <span>{{good.name}}</span>
                  {{/if}}
                </p>
              </div>
              <div class="weui-cell__ft">
                <span class="order_price">￥{{good.order_price}}</span>
                {{if good.order_price > good.new_price}}
                  <span class="new_price down">￥{{good.new_price}}</span>
                {{else if good.order_price < good.new_price}}
                  <span class="new_price up">￥{{good.new_price}}</span>
                {{else}}
                  <span class="new_price">￥{{good.new_price}}</span>
                {{/if}}
              </div>
            </div>
            {{each good.success_log log}}
              <p class="success_log">{{log}}</p>
            {{/each}}
          {{/each}}
        {{/each}}
      {{else}}
        <div class="no_order"> 暂时还没有待保价订单(只显示选定范围的订单) </div>
      {{/if}}
    </script>
    <script>
      window.addEventListener('message', function (event) {
        var command = event.data.command;
        var name = event.data.context.name || 'orders';
        switch (command) {
          case 'render':
            var html = template('tpl-' + name, event.data.context)
            event.source.postMessage({
              name: name,
              html: html
            }, event.origin);
            break;
        }
      });
    </script>
  </body>
</html>



