body{
    height: 600px;
}

select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.popup{
    width: 780px;
    height: 600px;
}

.page__hd {
    padding: 10px;
}

.weui-dialog {
    max-width: 380px;
}
.page__desc{
    padding: 5px 10px;
}
.settings{
    width: 46%;
    float: left;
    background: #fbfbfb;
}

.settings .weui-navbar__item.weui-bar__item_on {
    background-image: linear-gradient(180deg, #03A9F4, rgba(3, 169, 244, 0.52));
    color: #fff;
}

.contents {
    width: 54%;
    float: right;
    overflow: hidden;
    background: #fafafa;
    height: 600px;
}

.contents .weui-navbar__item.weui-bar__item_on {
    background-image: linear-gradient(180deg, #74bf1d, #4caf5073);
    color: #fff;
}

.contents .weui-tab {
    background: #f5f5f5;
    height: 562px;
}


.contents .weui-tab .weui-badge{
    margin-left: 5px;
    margin-top: -3px;
    background-color: #4CAF50;
}

.other_actions{
    padding: 10px;
}

.other_actions p{
    padding: 5px 0;
}

.no_order, .no_message{
    background: url(../image/empty.svg) no-repeat center 10px;
    padding: 5em 0em;
    text-align: center;
    color: #ccc;
    margin-top: 10em;
}

.tips .payReward {
    padding: 0 0.62em;
    line-height: 1.8;
    margin-bottom: -7px;
}

#renderFrame{
    height: 0px;
}

.frequency_settings .weui-cell__bd i.today{
    display: none;
}

.reload-icon {
    background: url(../image/reload.svg) no-repeat 1px 5px;
    width: 20px;
    height: 21px;
    color: #dcdcdc;
    display: inline-block;
    background-size: 17px;
}

.orders, .messages{
    overflow-y: auto;
    overflow-x: hidden;
    height: 528px;
}

.messages{
    display: none;
}

.logo{
    display: inline-block;
}

.good_title{
    font-size: 14px;
}

.good{
    background: #eee;
}

.success_log{
    font-size: 12px;
    margin: 10px;
    color: #690;
}

.order_price{
    font-size: 12px;
    color: #666;
    display: block;
}

#dialogs, #changeLogs{
    display: none;
}

.new_price{
    font-size: 14px;
    color: #333;
}

.new_price.up{
    color: #690;
}

.new_price.down{
    color: #ea2222;
}

.time{
    text-align: right;
}

.alipay_pay{
    display: none;
}

.alipay_pay img{
    padding: 24px;
    background: #fff;
}

.weui-dialog__ft a{
    cursor: pointer;
}

.weui-dialog .segmented-control{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 4px;
}
.segmented-control {
  display: table;
  width: 100%;
  margin: 2em 0;
  padding: 0;
  background: #fff;
}
.segmented-control__item:first-child .segmented-control__label{
  border-radius: 4px 0 0 4px;
}

.segmented-control__item:last-child .segmented-control__label{
  border-radius: 0 4px 4px 0;
}

.segmented-control__item {
    width: 49%;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.segmented-control__input {
  position: absolute;
  visibility: hidden;
}

.segmented-control__label {
  display: block;
  margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
  padding: .45em .25em;
  font: 14px/1.5 sans-serif; 
  text-align: center;  
  cursor: pointer;
}

.segmented-control__label:hover {
  background: #fafafa;
}

.segmented-control__input:checked + .segmented-control__label {
  background: #1aad19;
  color: #fff;
}

.auto_login{
    font-size: 14px;
    margin: 10px 5px;
}

.weui-navbar+.weui-tab__panel{
    padding-top: 35px;
}

.weui-navbar__item{
    padding: 7px 0;
}

.iframe-loading{
    z-index: 0 !important;
}

.js-close{
    position: absolute;
    right: 10px;
    top: 1px;
    padding: 4px;
    font-size: 18px;
    cursor: pointer;
}

.settings_box{
    overflow-y: auto;
    overflow-x: hidden;
    height: 490px;
}

.settings .page__desc{
    font-size: 12px;
    height: 44px;
}

.settings .weui-tab{
    height: auto;
}

.tips.page__hd {
    height: 65px;
    overflow: hidden;
    padding: 5px;
    background-image: linear-gradient(0deg, #dadada69, #fffde817);
}

.bottom{
    height: 38px;
    font-size: 12px;
    position: relative;
}

img.weui-tabbar__icon {
    width: 20px;
    height: 20px;
}

.changelogs{
    font-size: 14px;
    padding: 10px;
    text-align: left;
    line-height: 2.2;
    max-height: 320px;
    overflow-y: auto;
}

.loginNotice {
    font-size: 14px;
    padding: 10px 15px;
    text-align: left;
    line-height: 2.2;
    max-height: 320px;
    color: #5a5a5a;
    overflow-y: auto;
}

.loginNotice b{
    color: #d23030;
}

#feedbackDialags .weui-dialog{
    background-color: #f8f8f8;
    height: 460px;
}

#feedbackDialags iframe{
    width: 90%;
    height: 450px;
}

#feedbackResult,
#feedbackDialags,
#listenAudio {
    display: none;
}

.contents-box{
    margin-top: 0;
}

.listenVoice{
    text-align: left;
}

.messages-header{
    display: flex;
    border-bottom: 1px solid #ebeef5;
    height: 33px;
    padding-top: 4px;
    position: fixed;
    width: 54%;
    background: #fafafa;
    z-index: 10;
}

.messages-tab {
    position: relative;
    flex: 1;
    height: 48px;
    cursor: pointer;
}

.message-items {
    margin-top: 45px;
}

.message-items .weui-media-box {
    padding: 5px 15px;
    border-bottom: 1px solid #ebeef5;
}

.Button--link,
.Button--plain {
    height: auto;
    padding: 0;
    line-height: inherit;
    border: none;
    border-radius: 0;
}

.messages-tabIcon {
    fill: #c2cfde;
}

.selectedTab .messages-tabIcon {
    fill: #0f88eb;
}

button.Button.messages-tab.Button--plain:focus {
    outline: none;
}

.selectedTab{
    background: #f5f5f5;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    border-top: none;
    background-image: linear-gradient(0deg, #ffffff, #e6e6e64a);
}
.message i{
    padding-right: 5px;
}

.message .coupon{
    background: url(../image/coupon.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: inline-block;
    margin-bottom: -3px;
}

.message .checkin_notice {
    background: url(../image/bean.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: inline-block;
    margin-bottom: -3px;
}
.message .checkin_notice.coin {
    background-image: url(../image/coin.png);
}

.message .notice {
    background: url(../image/notice.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: inline-block;
    margin-bottom: -3px;
}

.message .notice.rebate {
    background-image: url(../image/rebate.png);
}

.message .notice.jiabao {
    background-image: url(../image/money.png);
}

.coupon-box{
    position: relative;
    height: 50px;
    border: 1px solid #f2f2f2;
    background: #fff;
    display: inline-block;
    display: block;
    padding: 10px;
}

.coupon-box .price {
    padding: 1px 5px;
    color: #f23030;
    font-size: 15px;
    background: #fff4ec;
    display: inline-block;
}
.coupon-box a {
    font-size: 14px;
    color: #555;
    padding: 4px;
}

.reward {
    cursor: pointer;
    display: block;
    color: #d29737;
}

.reward h4{
    padding-top: 10px;
    font-size: 22px; 
    color:#4e4c4c;
}

.reward .qrcode{
    width: 210px;
    padding: 10px;
}

.reward .switch-tips{
    font-size: 14px;
    color: #ccc;
}

.switch{
    cursor: pointer;
    color: #f54e4d;
}

.switch p{
    margin-top: -10px;
}

.switch .icon{
    margin-bottom: -5px;
}

#unreadCount{
    display: none;
}

.alipay_pay .redpack img{
    padding: 10px;
}

.payReward i {
    font-size: 21px;
    margin-top: -4px;
}

.weui-cell__bd .weui-icon-info-circle{
    margin-top: -4px;
}

#listenAudio .weui-cells{
    margin-bottom: .8em;
}

#listenAudio .weui-cell_access{
    cursor: pointer;
}

#changeLogs b {
    color: #4CAF50;
}